.page-header{
    background-color: #1a1758 !important;
    background-image: linear-gradient(120deg, #1a1758 45%, #e42b68);
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4,.main-content h5, .main-content h6{
    color:#962e74
}

a, a:visited {
    color:#2d317f
}